h1 {
    background-color: lightblue;
}

.adminLogin {
    display: inline-block;
    background-color: lightblue;
    float: left;
    max-width: 20%;
    margin: 15%;
}

.staffLogin {
    display: inline-block;
    background-color: lightblue;
    float: right;
    max-width: 20%;
    margin: 15%;
}

input[type=text], input[type=password] {
    width: 50%;
    display: inline-block;
    margin:2%;
    padding: 3% 5%;
    box-sizing: content-box;
}

input[type=date] {
    width: 50%;
    display: inline-block;
    margin:2%;
    padding: 3% 5%;
    box-sizing: content-box;
}

label {
    width: 50%;
    display: inline-block;
    margin:2%;
    padding: 3% 5%;
    box-sizing: content-box;
}


input[type=submit] {
    padding: 3% 4%;
    margin: 2%;
    border: none;
    cursor: pointer;
    width: 50%;
}

li {
    display: block;
    font-size:larger;
    width: 25%;
    background-color: lightgrey;
    margin: 1%;
}

#manageSta {
    padding: 8% 10%;
}

#manageStu {
    padding: 8% 10%;
    margin: 15%;
}

table, td, th {
    border: 1px solid;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
  }

  #add {
      padding: 4% 5%;
      margin-left: 25%;
  }